<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <!--<li class="sidebar-search-wrapper">
            <form class="sidebar-search sidebar-search-bordered" action="#" method="POST">
                <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm...">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit">
                            <i class="icon-magnifier"></i>
                        </a>
                    </span>
                </div>
            </form>

        </li>-->

        <li class="nav-item">
            <a ui-sref="dashboard" class="nav-link">
                <i class="fa fa-dashboard"></i>
                <span class="title">{{"dashboard"|translate}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a ui-sref="servicePage.serviceGroups.list" class="nav-link">
                <i class="fa fa-ge"></i>
                <span class="title">{{"dich_vu"|translate}}</span>
            </a>
        </li>
      <li class="nav-item">
        <a ui-sref="promotions.list" class="nav-link">
          <i class="fa fa-gift"></i>
          <span class="title">{{"khuyen_mai"|translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a ui-sref="news.list" class="nav-link">
          <i class="fa fa-newspaper-o"></i>
          <span class="title">{{"tin_tuc"|translate}}</span>
        </a>
      </li>
      <li class="nav-item">
          <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-globe"></i>
            <span class="title">Notification</span>
            <span class="arrow"></span>
          </a>
        <ul class="sub-menu" style="display: none;">
            <li class="nav-item">
                <a ui-sref="notifications.list" class="nav-link">
                    <i class="fa fa-globe"></i>
                    <span class="title">{{"Notification list"|translate}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="notifications.reportCamp" class="nav-link">
                    <i class="fa fa-globe"></i>
                    <span class="title">{{"Report Campaign"|translate}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="notifications.reportCustomer" class="nav-link">
                    <i class="fa fa-globe"></i>
                    <span class="title">{{"Look up notify content to customer "|translate}}</span>
                </a>
            </li>
        </ul>
      </li>
      <li class="nav-item">
        <a ui-sref="applications.list" class="nav-link">
          <i class="fa fa-github-alt"></i>
          <span class="title">{{"ung_dung"|translate}}</span>
        </a>
      </li>
        <li class="nav-item">
        <a ui-sref="webservices.list" class="nav-link">
            <i class="fa fa-server"></i>
            <span class="title">{{"web_service"|translate}}</span>
        </a>
        </li>
      <li class="nav-item">
        <a ui-sref="hotnews.list" class="nav-link">
          <i class="icon-settings"></i>
          <span class="title">{{"hot_news"|translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a ui-sref="experiencelinks.list" class="nav-link">
          <i class="fa fa-gg-circle"></i>
          <span class="title">{{"trai_nghiem_3g_4g"|translate}}</span>
        </a>
      </li>


      <!--<li class="nav-item">
        <a ui-sref="users.list" class="nav-link">
          <i class="fa fa-users"></i>
          <span class="title">{{"users"|translate}}</span>
        </a>
      </li>-->

      <li class="nav-item">
        <a ui-sref="advertbanners.list" class="nav-link">
          <i class="fa fa-tv"></i>
          <span class="title">{{"banner_quang_cao"|translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a ui-sref="shops.list" class="nav-link">
          <i class="fa fa-building"></i>
          <span class="title">{{"cua_hang_diem_ban"|translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a ui-sref="another.jobs.list" class="nav-link">
          <i class="icon-settings"></i>
          <span class="title">{{"khac"|translate}}</span>
        </a>
      </li>

    </ul>
</div>
