<div class="panel panel-primary">
  <div class="panel-heading">
    <div ng-if="mode=='them'" class="panel-title">{{"them_moi_ung_dung"|translate}}</div>
    <div ng-if="mode=='sua'" class="panel-title">{{"cap_nhat_ung_dung"|translate}}</div>
  </div>
  <div class="panel-body">
    <form class="form-horizontal form margin-bottom-40" role="form" id="form-ung-dung" mode="{{mode}}">
      <div class="form-heading text-center">
        <button class="btn btn-success" ng-if="mode=='them'"><i class="fa fa-plus"></i> {{"them"|translate}}</button>
        <button class="btn btn-success" ng-if="mode=='sua'"><i class="fa fa-plus"></i> {{"luu"|translate}}</button>
        <div class="btn btn-danger" ng-click="goToList()">
          <i class="fa fa-close"></i> {{"huy"|translate}}
        </div>
      </div>
      <div class="form-body">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-md-line-input padding-left-0">
                <label class="col-md-4 control-label text-right">{{"ten_ung_dung"|translate}}</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="name" ng-model="data.name" />
                  <div class="form-control-focus"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div radio-language ng-model="data.language" name="language"></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group form-md-line-input">
              <label class="col-md-2 control-label text-right">{{"mo_ta_ngan"|translate}}</label>
              <div class="col-md-10">
                <input type="text" class="form-control" name="shortDes" ng-model="data.shortDes" />
                <div class="form-control-focus"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group form-md-line-input">
              <label class="col-sm-2 control-label text-right">{{"mo_ta_chi_tiet"|translate}}</label>
              <div class="col-sm-10">
                <textarea class="form-control" summernote name="fullDes" ng-model="data.fullDes"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <h4 class="text-left col-md-12">Icon</h4>
            <div class="col-md-12">
              <div fileinput class="fileinput" mode="{{mode}}" folder="apps" ng-class="{'fileinput-new': mode=='them','fileinput-exists':mode=='sua'}" data-provides="fileinput" ng-model="data.iconUrl" name="iconUrl">
              </div>
            </div>
          </div>
          <div class="form-group form-md-line-input col-md-12">
            <input type="text" class="form-control margin-top-10" name="iosLink" ng-model="data.iosLink">
            <label>{{"lien_ket_den_app_store"|translate}}</label>
          </div>
          <div class="form-group form-md-line-input col-md-12">
            <input type="text" class="form-control margin-top-10" name="androidLink" ng-model="data.androidLink">
            <label>{{"lien_ket_den_google_play"|translate}}</label>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div ng-if="mode=='them'" ng-click="reset()" class="clear-form-data btn btn-sm btn-circle btn-danger">{{"xoa"|translate}}</div>
      </div>
    </form>
  </div>
</div>
<script>

  $(document).ready(function () {
    var scope = angular.element("#current-controller").scope();
    validator = myApp.validateForm("#form-ung-dung", {
      rules: {
        name: {
          required: true,
          maxlength: config.validate.length200
        },
        shortDes: {
          required: true,
          maxlength: config.validate.length1000
        },
        fullDes: {
          required: true,
          maxlength: config.validate.length4000
        },
        iconUrl: {
          required: true,
          imageLink: true
        },
        iosLink: {
          required: true,
          urlLink: true,
          maxlength: config.validate.length200
        },
        androidLink: {
          required: true,
          urlLink: true,
          maxlength: config.validate.length200
        }
      },
      messages: {
        name: {
          required: validateMessages.ErrRequired,
          maxlength: validateMessages.ErrMaxLength200
        },
        shortDes: {
          required: validateMessages.ErrRequired,
          maxlength: validateMessages.ErrMaxLength1000
        },
        fullDes: {
          required: validateMessages.ErrRequired,
          maxlength: validateMessages.ErrMaxLength4000
        },
        iconUrl: {
          required: validateMessages.ErrRequired,
          imageLink: validateMessages.ErrImageLink
        },
        iosLink: {
          required: validateMessages.ErrRequired,
          urlLink: validateMessages.ErrUrl,
          maxlength: validateMessages.ErrMaxLength200
        },
        androidLink: {
          required: validateMessages.ErrRequired,
          urlLink: validateMessages.ErrUrl,
          maxlength: validateMessages.ErrMaxLength200
        }
      },
      submitHandler: function (form) {
        if ($(form).attr("mode") == 'them') {
          scope.add();
        }
        else if ($(form).attr("mode") == 'sua') {
          scope.update();
        }
      }
    });
  });
</script>
